@model JobDTO

<tr class="partialJobs">
    <td style="display: none;">
        <input type="number" readonly="readonly" disabled="disabled" id="JobId" name="Jobs[@Model.JobIndex].JobId" value="@Model.JobId" maxlength="50" />
    </td>
    <td>
        <input type="text" name="Jobs[@Model.JobIndex].CompanyName" id="CompanyName" value="@Model.CompanyName" maxlength="50" />
    </td>
    <td>
        <input type="text" name="Jobs[@Model.JobIndex].Period" id="Period" value="@Model.Period" placeholder="Desde dd/mm/yyyy Hasta dd/mm/yyyy" />
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-delete" onclick="deleteRow(this);">Delete</button>
    </td>
</tr>